body{
	background: url(http://hearthstone.nos.netease.com/3/home/v1/bg.jpg) no-repeat 50% -8px;
}

#homeBg{
		overflow-x: hidden;
/* 		background: url(http://hearthstone.nos.netease.com/3/home/v1/bg.jpg) no-repeat 50% 0; */
}
.homeTop{
	height: 699px;
	position: relative;
	z-index: 1;
}
#wraper{

position: relative;
width: 1000px;
margin: 0 auto;

}
#hsFlashWrap{
	position: absolute;
	left: 50%;
	margin-left: -500px;
	top: 34px;
	z-index: 9997;
	zoom:1;
	height: 564px;


}
#hsFlashSwf{
	position: absolute;
	left: 50%;
	margin-left: -835px;
	top:4px;
	z-index: 9998;
	zoom:1;
	height: 594px;
}
#hsFlashWrapBg{
	position: absolute;
	/* display: none; */
	top: 563px;
	left: 0;
	width: 999px;
	z-index: 9999;
	height: 1px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/flash_b.jpg) no-repeat 0 0\9;	
}
#hsFlash{

}
#card_top{
	position: absolute;
	top: 367px;
	top: 366px\9;
	left: 184px;
}
#header .nav_top{
    display: block;
    height: 32px;
    margin-top: 123px;
    position: relative;
    z-index: 9999;
    background: url(http://hearthstone.nos.netease.com/3/common/nav-bg.png) no-repeat 50% 0;
}
#hsCard{
	position: absolute;
	left: 50%;
	margin-left: -500px;
	z-index: 9997;
}

#header{
	background: url(http://hearthstone.nos.netease.com/3/home/v1/fix.png) no-repeat 50% 0;
	height: 257px;
	position: absolute;
	width: 2600px;
	margin-left:-1300px; 
	overflow: hidden;
	left: 50%;
	top: 471px;
	top: 470px\9;
}
#container{
	width: 1920px;
	position: relative;
	left: 50%;
	margin-top: -8px;
	margin-left: -960px;
	min-height: 1000px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/bg_r.jpg) repeat-y 50% 0;
	z-index: 2;
}
#scrollBar{
	height: 175px;
	left: 50%;
	top: 408px;
	margin-left: -979px;
	width: 1958px;
	z-index: 9998;
	position: absolute;
	visibility: hidden;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/scroll_bar.png) no-repeat 50% bottom;
}
#scrollPanel{
	color: #fff;
	height: 200px;
	text-align: center;
}
#mainBtn{
	position: absolute;
	z-index: 99999;
	top: 252px;
	left: 50%;
	margin-left: -124px;
}
#mainBtn a{
	display: block;
	width: 249px;
	height: 80px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/btn_cg.png) no-repeat 0 0;
}
#mainBtn a:hover{
	background-position: 0 -82px;
}
/*hero*/
#hero{
	position: relative;
	width: 1000px;
	height: 467px;
	margin:0 auto;

}
#hero .rightBg{
	position: absolute;
	right: -348px;
	top:-159px;
	width: 870px;
	height: 647px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/hero_bg.png) no-repeat right 0;	
	
}
.heroBox{
	position: relative;
	/* top: -24px; */
	top: -19px;
	z-index: 2;
}
.heroBox .heroInfo{
	width: 140px;
	height: 140px;
	position: absolute;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/hero.png) no-repeat 0 0;	
}
.heroBox .heroInfo p{
	text-align: center;
	color: #150603;
	font-size: 14px;
}
.heroBox .heroInfo .blue_item{
	display: none;
	width: 108px;
	margin:-22px auto 0;
	*margin:-34px auto 0;
	height: 61px;
	text-align: center;
	line-height: 61px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/blue_item.png) no-repeat 0 0;	
}
.heroBox .heroInfo a{
	width: 100%;
	display: block;
	height: 120px;
	cursor: default;
	
}
.heroBox .heroInfo a span{
	width: 100%;
	display: block;
	height: 120px;
	margin-top:-10px;	
}
.heroBox .heroInfo a:hover span{
	background: url(http://hearthstone.nos.netease.com/3/home/v1/hero_h.png) no-repeat 0 0;
	_background: none;	
}
#hero .heroBox .active a span{
	background: url(http://hearthstone.nos.netease.com/3/home/v1/hero_h.png) no-repeat 0 0;
	_background: none;
}
#hero .heroBox .active .blue_item{
	display: block;
}
.heroBox .hero_warrior{
	background-position: 7px 19px;
	top: 0;
	left: 0;
	z-index: 3;
}
.heroBox .hero_shaman{
	background-position: -133px 19px;
	top: 0;
	left: 140px;
	z-index: 3;
}
.heroBox .hero_rogue{
	background-position: -271px 19px;
	top: 0;
	left: 278px;
	z-index: 3;
}
.heroBox .hero_paladin{
	background-position: 7px -121px;
	top: 142px;
	left: 0;
	z-index: 2;
}
.heroBox .hero_hunter{
	background-position: -133px -121px;
	top: 142px;
	left: 140px;
	z-index: 2;
}
.heroBox .hero_druid{
	background-position: -271px -121px;
	top: 142px;
	left: 278px;
	z-index: 2;	
}
.heroBox .hero_wartock{
	background-position: 7px -261px;
	top: 282px;
	left: 0;
	z-index: 1;
}
.heroBox .hero_mage{
	background-position: -133px -261px;
	top: 282px;
	left: 140px;
	z-index: 1;
}
.heroBox .hero_priest{
	background-position: -271px -261px;
	top: 282px;
	left: 278px;
	z-index: 1;
}
#hero_pic{
	display: block;
	width: 529px;
	height: 594px;
	position: absolute;
	top: -90px;
	left: 363px;
	z-index: 1;	
	text-align: center;
}
#hero_pic .imgload{
	margin-top: 228px;
	left: 144px;
	position: absolute;
}
#hero_pic .pic img{
	display: none;
}
#hero_pic .pic img.img_8{
	margin-top: 41px;
	margin-left: -72px;
}
#hero_pic .pic img.img_3{
	margin-top: 35px;
	margin-left: -40px;
}
#hero_pic .pic img.img_0{
	margin-top: 20px;
	margin-left: -100px;
}
#hero_pic .pic img.img_1{
	margin-top: 40px;
}
#hero_pic .pic img.img_2{
	margin-top: 5px;
	margin-left: -94px;
}

#hero_pic .pic img.img_4{
	margin-top: 40px;
}

#hero_pic .pic img.img_5{
	margin-left: -100px;
	margin-top: -20px;
}
#hero_pic .pic img.img_6{
	margin-left: -40px;
	margin-top: -15px;
}
#hero_pic .pic img.img_7{
	margin-left: -83px;
	margin-top: 30px;
}

.hero_title{
	width: 307px;
	height: 118px;
	position: absolute;
	top: 48px;
	right: -55px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/hero_title.png) no-repeat 0 0;
}
.hero_txt{
	width: 253px;
	color: #ffe2bc;
	position: absolute;
	z-index: 3;
	font-size: 16px;
	right: -7px;
	top: 200px;
}

/*hero end*/



.border_b{
	height: 28px;
	position: relative;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/border_b.png) no-repeat 50% 0;
	z-index: 2;
}
.flower{
	height: 46px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/flower.png) no-repeat 50% 0;
}
a.video_over{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9995;
	top: 0;
	left: 0;	
}

a.video_over:hover .video_btn{
	background-position: -122px 0;
}
/* play */
#play{
	height: 695px;
	position: relative;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/bg_r.jpg) repeat-y 50% 60px;	
}
#playWrap{
	width: 1000px;
	margin:0 auto;
	position: relative;	
}
#play .playTitle{
	width: 759px;
	height: 162px;
	position: absolute;
	left: -443px;
	top: 350px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/play_title.png) no-repeat 0 0;	
}
#play .video{
	position: relative;
	left: 0;
	top: 122px;
	z-index: 2;
	width: 255px;
}
#play .video img{
	padding-left: 3px;
}
#play .video_txt{
	position: absolute;
	top: 185px;
	display: block;
	color: #150603;
	font-size: 16px;
	left: 9px;
}
#play .playBox{
	display: block;
	width: 255px;
	height: 181px;
	position: absolute;
	top: -3px;
	left: 0;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/video.png) no-repeat 0 0;	
}
#play .fish {
	display: block;
	width: 284px;
	height: 244px;
	position: relative;
	z-index: 1;
	top: -200px;
	left: 52px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/fish.png) no-repeat 0 0;	
}

#play .playTxt{
	width: 303px;
	color: #150603;
	position: absolute;
	z-index: 3;
	font-size: 16px;
	left: 26;
	top: 520px;	
}
#stepWrap{
	width: 680px;
	height: 518px;
	padding: 60px 0 0 23px;
	position: absolute;
	top: 22px;
	left: 315px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/step_pic.jpg) no-repeat 0 0;	
}
#stepWrap .play_title_t{
	display: block;
	width: 156px;
	height: 29px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/play_title_t.png) no-repeat 0 0;	
	position: absolute;
	top: 2px;
	left: 10px;
}
.stepList{
	width: 657px;
	height: 411px;
	overflow: hidden;
}
.stepList li{
	display: none;
}
.stepList li.active{
	display: block;
}
#play .step{
	position: absolute;
	top: 500px;
	right: 10px;
}
#play .step .stepbox{
	float: left;
	display: inline;
	padding-top: 50px;
	text-align: center;
	color: #150603;
	font-size: 16px;
	cursor: pointer;
	height: 95px;
	width: 66px;
	margin: 0 10px;
	position: relative;	
}
#play .step .stepbox span{
	display: inline-block;
	width: 42px;
	height: 52px;
	background-image: url(http://hearthstone.nos.netease.com/3/home/v1/step.png);	
	background-repeat: no-repeat;
}
#play .step .stepbox p{
	position: absolute;
	width: 150px;
	bottom: 0;
	left: -45px;
}
#play .step .step1 span{
	background-position: 0 0;
}
#play .step .step2 span{
	background-position: -187px 0;
	
}
#play .step .step3 span{
	background-position: -367px 0;
	
}
#play .step .step3{
	/* margin: 0 30px; */
}
#play .step .step4 span{
	background-position: -541px 0;
	
}
#play .step .stepbox.active{
	color: #be1412;
}
#play .step .stepbox.active span{
	height: 75px;
	width: 66px;
	margin-top: -12px;
}
#play .step .step1.active span{
	background-position:-8px -51px; 
}
#play .step .step2.active span{
	background-position:-190px -51px;	
}
#play .step .step3.active span{
	background-position:-353px -51px;	
}
#play .step .step4.active span{
	background-position:-537px -51px;	
}
#play .step .dot{
	float: left;
	padding-top: 50px;
}
#play .step .dot span{
	float: left;
	width: 20px;
	height: 50px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/step.png) no-repeat -589px 0;	
}
#play .step .step1{

}
#play .flower{
	margin-top: -22px;
}
/* play end*/

/* card */
#card{
	height: 636px;
	overflow: hidden;
	position: relative;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/blue.jpg) no-repeat 50% 0;	
}
#card h2{
	width: 584px;
	height: 70px;
	margin: 45px auto 0;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/card_title.png) no-repeat 0 0;
}
#card .cardTxt{
	width: 625px;
	margin: 0 auto;
	color: #749bcd;
	line-height: 28px;
	font-size: 16px;
	padding-bottom: 22px;
}
#cardBox{
	position: relative;
	top: 0;
	height: 458px;
	width: 1000px;
	margin: 0 auto;	
}
#cardBox div{
	position: absolute;
	width: 273px;
	height: 351px;
}
#cardBox div.card1{
	left: -32px;
}
#cardBox div.card2{
	left: 166px;
}
#cardBox div.card3{
	left: 363px;
}
#cardBox div.card4{
	left: 560px;
}
#cardBox div.card5{
	left: 756px;
}

#cardBox .front{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
#cardBox .back{
	position: absolute;
	top: 0;
	left: 0;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/back.png) no-repeat 0 0;
}
#cardBox div.card1 .front{
	background: url(http://nos.netease.com/blz/1/hs/card/card8.png) no-repeat 0 0;
}
#cardBox div.card2 .front{
	background: url(http://nos.netease.com/blz/1/hs/card/card9.png) no-repeat 0 0;
}
#cardBox div.card3 .front{
	background: url(http://nos.netease.com/blz/1/hs/card/card10.png) no-repeat 0 0;
}
#cardBox div.card4 .front{
	background: url(http://nos.netease.com/blz/1/hs/card/card6.png) no-repeat 0 0;
}
#cardBox div.card5 .front{
	background: url(http://nos.netease.com/blz/1/hs/card/card7.png) no-repeat 0 0;
}
.blue_t{
	height: 20px;
	position: relative;
	top: -20px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/blue_top.png) no-repeat 50% 0;
}
.blue_b{
	height: 18px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/blue_bottom.png) no-repeat 50% 0;
}
/* body:nth-of-type(1) .blue_b{
	margin-top:-87px
} */
/* card end*/


#way{
	width: 1000px;
	height: 470px;
	position: relative;
	margin:30px auto 0;
}
#way .wayTitle{
	width: 749px;
	height: 161px;
	right: -457px;
	top: 64px;
	position: absolute;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/way_title.png) no-repeat 0 0;	
}
#way .wayTxt{
	width: 303px;
	color: #150603;
	position: absolute;
	z-index: 3;
	font-size: 16px;
	right: -14px;
	top: 240px;
}
#way .troll{
	position: absolute;
	width: 460px;
	height: 434px;
	right: 100px;
	top: -44px;
	z-index: 2;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/troll.png) no-repeat 0 0;	
}
#way .wayVideo{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 480px;
	height: 371px;
	background: #0d0804;
}
#way .wayVideo .title{
	text-align: center;
	font-size: 14px;
	color: #ffdfbb;
	line-height: 47px;
}
/* way end*/

/* info */
#info{
	height: 188px;
	/* overflow: hidden; */
	color: #ffdfbb;
	position: relative;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/wood.jpg) no-repeat 50% 0;	
}
#info .more{
	display: block;
	width: 264px;
	height: 57px;
	position: relative;
	top: -23px;
	margin: 0 auto;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/more.png) no-repeat 0 0;
}

#info .infoCon{
	width: 1000px;
	margin: -15px auto 0;
}
#info .shareArea,#info .weixin,#info .news{
	float: left;
}
#info .shareArea{
	width: 210px;
	position: relative;
	padding:0 0 0 30px;
}
#info .shareArea .gz{
	width: 155px;
	height: 32px;
	margin-top: 14px;
	padding-left: 34px;
	text-align: center;
	padding-top: 6px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/gz.png) no-repeat 0 0;
}
#info .shareArea .gz a{
	display: inline-block;
	width: 23px;
	height: 20px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/icon_st.png) no-repeat 0 0;	
}
#info .shareArea .gz a.sina{
	background-position: 0 0;
}
#info .shareArea .gz a.qq{
	background-position: -40px 0;
	margin-left: 12px;
}
#info .shareArea .gz a.sina:hover{
	background-position: 0 -30px;
}
#info .shareArea .gz a.qq:hover{
	background-position: -40px -30px;
}
#info .shareArea .btn_small{
	margin:15px 0;
}
.shareArea .share{
	left: 35px;
	top: 110px;
}
.shareArea .share li.sharetip{
	color: #FFDFBB;	
}
#info .weixin{
	width: 260px;
	padding:0 0 0 0;	
}
#info .weixin div{
	padding-left: 104px;
	height: 92px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/weixin.gif) no-repeat 0 0;
}
#info .weixin div p{
	width: 105px;
	padding-bottom: 10px;
}
#info .weixin input{
	width: 103px;
/* 	height: 23px; */
	padding: 5px 0 1px 5px;
	/* padding-left: 5px; */
	color: #000;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/input.gif) no-repeat 0 0;	
}
#info .news{
	padding:0 0 0 30px;	
}
#info .news h3 a{
	float: right;
	color: #ff4e25;
}
#info .news li{
	padding-bottom: 5px;
	*padding-bottom: 2px;
}
#info .news li a{
	color: #FFDFBB;
	float: left;
	width: 312px;
	height: 20px;
	overflow: hidden;
	padding-right: 25px;
}
#info .news li a:hover{
	color: #fff;
	text-decoration: none;
}
#info .news li span{
	float: right;
}
#info h3{
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 15px;
}
/* info end*/

/* #footer {
    height: 380px;
    +height:400px;
    background: url(http://hearthstone.nos.netease.com/3/home/v1/bottom.jpg) no-repeat 50% 0;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    z-index: 0;     
} */


#news_eye{
	width: 1000px;
	margin: 42px auto 0;
	position: relative;
	font-size: 14px;
	height: 190px;
}
a.news_eye_more{
	position:absolute;
	right: 30px;
	top: -26px;
	color: #d84025;
	font-weight: bold;
}
.bevel_border_l{
	float: left;
	width: 10px;
	height: 84px;
    background: url(http://hearthstone.nos.netease.com/3/common/bevel_border.png) no-repeat 0 0;
}
.bevel_border_r{
	float: left;
	width: 10px;
	height: 84px;
    background: url(http://hearthstone.nos.netease.com/3/common/bevel_border.png) no-repeat -10px 0;
}
.news_eye_con{
	float: left;
	width: 980px;
	height: 84px;
	padding-top: 10px;
    background: url(http://hearthstone.nos.netease.com/3/common/bevel_bg.png) repeat-x 0 0;
}
.news_eye_con a{
	float: left;
	width: 188px;
	height: 62px;
	color: #281d15;
	padding-left: 136px;
	position: relative;
}
.news_eye_con a img{
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #A79471;
}
.news_eye_con dt{
	height: 40px;
	width: 180px;
	padding-top: 3px;
	overflow: hidden;
}
.news_eye_con dd{
	font-size: 12px;
	color: #786d65;
}
.news_eye_con a:hover{
	color: #d84025;
	text-decoration: none;
}
.news_eye_con a:hover img{
	border: 1px solid #d84025;
}

#footer a.reg{
	display: block;
	width: 249px;
	height: 80px;
	background: url(http://hearthstone.nos.netease.com/3/home/v1/btn_cg.png) no-repeat 0 0;
	left: 50%;
    margin: 26px 0 0 -125px;
    position: absolute;
}
#footer a.reg:hover{
	background-position: 0 -82px;
}