@charset "utf-8";
/* CSS Document */
.g-header {
	width: 1000px !important;
	z-index: 100;
	position: relative;
}

.g-cnt {
	background: #000d1e url(../images/unit/cnt_bg.png?v=2) no-repeat 0 -52px;
	position: relative;
	text-align: left;
	min-height: 1000px;
}
/*IE6 hack*/
.m-navbar {
	_padding: 15px 0 0 70px
}

.searchbtn {
	position: absolute;
	width: 22px;
	height: 22px;
	top: 13px;
	left: 190px;
	cursor: pointer;
}
/*不同兵种原画背景*/
/* Terran */
.g-cnt .banshee-bg {
	background: url(http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-banshee-top.jpg) no-repeat 3px -6px;
}

.g-cnt .battlecruiser-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-battlecruiser-top.jpg') no-repeat 3px -6px;
}

.g-cnt .ghost-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-ghost-top.jpg') no-repeat 3px -6px;
}

.g-cnt .hellion-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-hellion-top.jpg') no-repeat 3px -6px;
}

.g-cnt .marauder-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-marauder-top.jpg') no-repeat 3px -6px;
}

.g-cnt .marine-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-marine-top.jpg') no-repeat 3px -6px;
}

.g-cnt .medivac-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-medivac-top.jpg') no-repeat 3px -6px;
}

.g-cnt .raven-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-raven-top.jpg') no-repeat 3px -6px;
}

.g-cnt .reaper-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-reaper-top.jpg') no-repeat 3px -6px;
}

.g-cnt .scv-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-scv-top.jpg') no-repeat 3px -6px;
}

.g-cnt .siege-tank-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-siege-tank-top.jpg') no-repeat 3px -6px;
}

.g-cnt .thor-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-thor-top.jpg') no-repeat 3px -6px;
}

.g-cnt .viking-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-viking-top.jpg') no-repeat 3px -6px;
}

.g-cnt .hellbat-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-hellbat-top.jpg') no-repeat 3px -6px;
}

.g-cnt .widow-mine-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-widow-mine-top.jpg') no-repeat 3px -6px;
}
/* Protoss */
.g-cnt .archon-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-archon-top.jpg') no-repeat 3px -6px;
}

.g-cnt .carrier-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-carrier-top.jpg') no-repeat 3px -6px;
}

.g-cnt .colossus-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-colossus-top.jpg') no-repeat 3px -6px;
}

.g-cnt .dark-templar-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-dark-templar-top.jpg') no-repeat 3px -6px;
}

.g-cnt .high-templar-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-high-templar-top.jpg') no-repeat 3px -6px;
}

.g-cnt .immortal-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-immortal-top.jpg') no-repeat 3px -6px;
}

.g-cnt .mothership-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-mothership-top.jpg') no-repeat 3px -6px;
}

.g-cnt .observer-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-observer-top.jpg') no-repeat 3px -6px;
}

.g-cnt .phoenix-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-phoenix-top.jpg') no-repeat 3px -6px;
}

.g-cnt .probe-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-probe-top.jpg') no-repeat 3px -6px;
}

.g-cnt .sentry-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-sentry-top.jpg') no-repeat 3px -6px;
}

.g-cnt .stalker-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-stalker-top.jpg') no-repeat 3px -6px;
}

.g-cnt .void-ray-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-void-ray-top.jpg') no-repeat 3px -6px;
}

.g-cnt .warp-prism-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-warp-prism-top.jpg') no-repeat 3px -6px;
}

.g-cnt .zealot-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-zealot-top.jpg') no-repeat 3px -6px;
}

.g-cnt .mothership-core-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-mothership-core-top.jpg') no-repeat 3px -6px;
}

.g-cnt .oracle-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-oracle-top.jpg') no-repeat 3px -6px;
}

.g-cnt .tempest-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-tempest-top.jpg') no-repeat 3px -6px;
}
/* Zerg */
.g-cnt .baneling-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-baneling-top.jpg') no-repeat 3px -6px;
}

.g-cnt .brood-lord-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-brood-lord-top.jpg') no-repeat 3px -6px;
}

.g-cnt .corruptor-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-corruptor-top.jpg') no-repeat 3px -6px;
}

.g-cnt .drone-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-drone-top.jpg') no-repeat 3px -6px;
}

.g-cnt .hydralisk-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-hydralisk-top.jpg') no-repeat 3px -6px;
}

.g-cnt .infestor-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-infestor-top.jpg') no-repeat 3px -6px;
}

.g-cnt .larva-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-larva-top.jpg') no-repeat 3px -6px;
}

.g-cnt .mutalisk-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-mutalisk-top.jpg') no-repeat 3px -6px;
}

.g-cnt .nydus-worm-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-nydus-worm-top.jpg') no-repeat 3px -6px;
}

.g-cnt .overlord-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-overlord-top.jpg') no-repeat 3px -6px;
}

.g-cnt .overseer-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-overseer-top.jpg') no-repeat 3px -6px;
}

.g-cnt .queen-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-queen-top.jpg') no-repeat 3px -6px;
}

.g-cnt .roach-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-roach-top.jpg') no-repeat 3px -6px;
}

.g-cnt .ultralisk-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-ultralisk-top.jpg') no-repeat 3px -6px;
}

.g-cnt .zergling-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-zergling-top.jpg') no-repeat 3px -6px;
}

.g-cnt .swarm-host-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-swarm-host-top.jpg') no-repeat 3px -6px;
}

.g-cnt .viper-bg {
	background: url('http://nos.netease.com/sc2/1/style/gameinfo/www/sc2/static/images/game/unit/bg-viper-top.jpg') no-repeat 3px -6px;
}
/*搜索*/
.g-cnt .w-search {
	width: 218px;
	height: 31px;
	position: absolute;
	top: 76px;
	right: 33px;
	display: inline;
	background: url(../images/unit/search_bg.png) no-repeat 0 0;
	overflow: hidden;
	zoom: 1;
	padding: 15px 0 0 14px;
}

.g-cnt .w-search input {
	background: none;
	border: none;
	color: #01b2f1;
	position: relative;
}

.w-search #search_kw {
	margin: 0
}

/*面包屑导?*/
.w-breadcrumb {
	padding: 21px 0 0 28px;
	height: 31px;
	background: url(../images/unit/cnt_bg.png?v=2) no-repeat 0 0;
}

.w-breadcrumb li {
	background: url("../images/flyout-arrows.gif") no-repeat scroll 98% -120px;
	float: left;
	margin-right: 5px;
	padding-right: 25px;
}

.w-breadcrumb li a {
	color: #00D683;
}

.w-breadcrumb li.last {
	background: none repeat scroll 0 0 transparent
}

.w-breadcrumb li.last a {
	border: none;
	color: #fff;
}

.w-breadcrumb li a {
	border-bottom: 1px dotted #00765A;
	color: #00D683
}

.w-breadcrumb li.children a {
	border-bottom: 1px dotted #fff;
}
/*页面内容??*/
#wrapper .sub_title {
	color: #fff;
	padding: 54px 0 0 49px;
}

#wrapper .sub_title h2 {
	font-size: 24px;
}

#wrapper .sub_title a {
	color: #8AE0E1;
	padding-right: 3px;
	font-size: 24px
}

#wrapper .sub_title p {
	font-size: 14px;
	padding: 25px 0 0;
	width: 612px;
}
/*单位数据*/
.unit-data-tables {
	width: 924px;
	margin: 20px 0 0 29px;
}

.unit-data-tables .title-bar {
	background: url(../images/unit/bg-unit-datatable-title.png) no-repeat 0 0;
	height: 36px;
	position: relative;
	color: #fff;
	padding: 42px 0 0 110px;
	font-size: 20px;
	font-weight: bold;
}

.unit-data-tables .title-bar span {
	position: absolute;
	height: 53px;
	left: 31px;
	top: 30px;
	width: 52px;
	z-index: 1;
}

.unit-data-tables .title-bar span.terran {
	background: url(../images/unit/icon-title-terran.png) no-repeat 0 0;
}

.unit-data-tables .title-bar span.protoss {
	background: url(../images/unit/icon-title-protoss.png) no-repeat 5px -2px;
}

.unit-data-tables .title-bar span.zerg {
	background: url(../images/unit/icon-title-zerg.png) no-repeat 1px 2px;
}

.unit-data-tables .databox {
	padding: 0 0 0 17px;
}

.unit-data-tables .databox .waper1 {
	background: url(../images/unit/bg-unit-datatable-bottom.gif) no-repeat 0 100%;
	padding: 0 0 20px;
}

.unit-data-tables .databox .waper2 {
	background: url(../images/unit/bg-unit-datatable.gif) repeat-y 0 0;
	position: relative;
}

.unit-data-tables table {
	width: 903px;
	background: url(../images/unit/bg-unit-datatable-top.jpg) no-repeat 0 0;
}

.unit-data-tables .databox .waper2 .t-bottom-right {
	background: url("../images/unit/t-bottom-right.gif") no-repeat 0 0;
	height: 89px;
	width: 8px;
	z-index: 10;
	position: absolute;
	right: 0;
	bottom: 0;
	bottom: 92px\9;
	*bottom: 0;
	_bottom: 92px\9;
}

.unit-data-tables table tbody td {
	border-left: none;
	background: none;
}

.unit-data-tables table thead th.first {
	padding: 0 0 0 80px;
}

.unit-data-tables table thead th {
	color: #57b0e7;
	height: 32px;
	line-height: 32px;
}

.unit-data-tables table tr {
	cursor: pointer;
}

.unit-data-tables table tr td {
	color: #0F68C8;
	border-bottom: 1px solid #032a59;
	height: 69px;
	line-height: 69px;
	border-right: none;
}

.unit-data-tables table tr.last td {
	border: none;
	vertical-align: middle;
}

.unit-data-tables table tr td.unit-title {
	text-align: left;
}

.unit-data-tables table tr td.unit-title .portrait-c {
	background: url("../images/portrait-frame.gif") no-repeat 0 -286px;
	display: block;
	height: 45px;
	padding: 3px 4px;
	width: 45px;
	float: left;
	margin: 12px 8px 0 20px;
	_display: inline;
}

.unit-data-tables table tr td.unit-title {
	width: 200px;
}

.unit-data-tables table tr:hover td,.unit-data-tables table tr.active td {
	background-color: #032a59;
	color: #fff;
}

.unit-data-tables table tr:hover td.unit-title .portrait-c,.unit-data-tables table tr.active td.unit-title .portrait-c {
	background-position: -105px -286px;
}
/* 人类*/
.unit-data-tables table tr td.unit-title .portrait-c span {
	background: #000 url(../images/unit/unit-thumbs-54x49-table.gif) no-repeat;
	height: 45px;
	display: block;
	overflow: hidden;
	zoom: 1;
}

.unit-data-tables table tr td.unit-title .portrait-c span.scv {
	background-position: -3px -213px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.marine {
	background-position: -57px -213px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.marauder {
	background-position: -111px -213px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.reaper {
	background-position: -165px -213px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.ghost {
	background-position: -219px -213px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.hellion {
	background-position: -3px -270px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.siege-tank {
	background-position: -57px -270px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.thor {
	background-position: -111px -270px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.viking {
	background-position: -165px -270px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.medivac {
	background-position: -219px -270px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.raven {
	background-position: -3px -329px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.banshee {
	background-position: -56px -329px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.battlecruiser {
	background-position: -111px -329px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.hellbat {
	background-position: -57px -659px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.widow-mine {
	background-position: -4px -660px;
}
/* 星灵*/
.unit-data-tables table tr td.unit-title .portrait-c span.probe {
	background-position: -3px -16px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.zealot {
	background-position: -57px -16px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.stalker {
	background-position: -111px -16px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.sentry {
	background-position: -165px -16px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.observer {
	background-position: -219px -16px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.immortal {
	background-position: -3px -76px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.warp-prism {
	background-position: -57px -76px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.colossus {
	background-position: -111px -76px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.phoenix {
	background-position: -165px -76px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.void-ray {
	background-position: -219px -76px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.high-templar {
	background-position: -3px -136px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.dark-templar {
	background-position: -57px -136px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.archon {
	background-position: -111px -136px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.carrier {
	background-position: -165px -136px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.mothership {
	background-position: -219px -136px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.mothership-core {
	background-position: -59px -602px
}

.unit-data-tables table tr td.unit-title .portrait-c span.oracle {
	background-position: -1px -600px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.tempest {
	background-position: -114px -600px;
}
/* 异虫*/
.unit-data-tables table tr td.unit-title .portrait-c span.larva {
	background-position: -3px -405px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.drone {
	background-position: -57px -405px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.overlord {
	background-position: -111px -405px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.zergling {
	background-position: -165px -405px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.queen {
	background-position: -219px -405px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.hydralisk {
	background-position: -3px -466px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.baneling {
	background-position: -57px -466px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.overseer {
	background-position: -111px -466px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.roach {
	background-position: -165px -466px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.infestor {
	background-position: -219px -466px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.mutalisk {
	background-position: -3px -523px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.corruptor {
	background-position: -56px -523px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.nydus-worm {
	background-position: -111px -523px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.ultralisk {
	background-position: -162px -525px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.brood-lord {
	background-position: -216px -523px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.swarm-host {
	background-position: -61px -717px;
}

.unit-data-tables table tr td.unit-title .portrait-c span.viper {
	background-position: -8px -719px;
}

.m-footer {
	background: #000 url(../images/unit/foot-line.jpg) no-repeat 0 40px;
	width: 890px;
	padding: 50px 55px 30px;
}

.unit-show .sub_title {
	color: #fff;
	padding: 100px 0 0 49px;
}

.unit-show .sub_title a {
	color: #8AE0E1;
	font-size: 12px !important;
}

.unit-show .sub_title span {
	font-size: 60px;
	margin: 0 0 0 -4px;
	line-height: 70px;
}

.unit-content .page-navigator {
	padding: 40px 0 0 40px;
}

.unit-content .page-navigator a {
	background: url(../images/role/sub-navigation-skewed.gif) no-repeat 0 0;
	font-size: 12px;
	display: block;
	float: left;
	padding: 0 0 0 15px;
	margin: 0 20px 0 0;
}

.unit-content .page-navigator span {
	background: url(../images/role/sub-navigation-skewed.gif) no-repeat 100% -27px;
	color: #C1FFFF;
	display: block;
	height: 23px;
	padding: 4px 15px 0 1px;
	float: left;
}

.unit-content .page-navigator span img {
	vertical-align: middle;
	margin: 0 0 2px;
}

.unit-content .page-navigator .previous img {
	padding: 0 10px 0 0;
}

.unit-content .page-navigator .next img {
	padding: 0 0 0 10px;
}

.unit-content .page-navigator a:hover {
	background-position: 0 -54px;
}

.unit-content .page-navigator a:hover span {
	background-position: 100% -81px;
}

.unit-content .page-navigator.previous {
	margin: 0 25px 0 0;
}

.unit_con_intro {
	width: 415px;
	clear: both;
	margin: 30px 0 50px 40px;
	color: #4874ad;
	overflow: hidden;
	zoom: 1;
	line-height: 22px;
	font-size: 14px;
}

.unit_con_intro p {
	font-size: 14px
}

.unit_con_intro .unit-portrait {
	float: left;
	height: 223px;
	margin: 0 10px 0 0;
	position: relative;
	width: 154px;
}

.unit_con_intro .unit-portrait #portrait-holography {
	height: 230px;
	left: -6px;
	position: absolute;
	top: -14px;
	width: 154px;
}

.unit-statistics {
	width: 940px;
	margin: 25px auto 0;
}

.unit-statistics .title-bar {
	background: url(../images/unit/bg-unitcon-title.png) no-repeat 0 0;
	height: 60px;
	position: relative;
}

.unit-statistics .title-bar h3 {
	padding: 25px 0 0 96px;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #fff;
}

.unit-statistics .title-bar span {
	height: 57px;
	width: 53px;
	display: block;
	position: absolute;
	top: 7px;
	left: 15px;
}

.unit-statistics .title-bar span.statistics {
	background: url(../images/unit/icon-title-unit-statistics.png) no-repeat 0 0;
}

.unit-statistics .title-bar span.manual {
	background: url(../images/unit/icon-manual.png) no-repeat 0 0;
	top: 15px;
	left: 25px;
}
.unit-statistics .title-bar span.science {
	background: url(../images/unit/icon-title-unit-science.png) no-repeat 0 0;
	left: 16px;
}

.exp-req {
	color: #912CBB;
	font-size: 12px;
}

.bot {
	padding: 40px 0 0 47px
}

.unit-thumb sup {
	color: #912CBB;
}
/*单位统计和战地手册框?*/
.unit-statistics .databox {
	background: url(../images/unit/bg-unitcon-btm.gif) no-repeat 100% 100%;
	position: relative;
	padding: 0 0 20px;
	overflow: hidden;
	zoom: 1;
}

.unit-statistics .databox .wapper1 {
	background: url(../images/unit/bg-unitcon.gif) repeat-y 0 0;
}

.unit-statistics .databox .wapper2 {
	background: url(../images/unit/bg-unitcon-top.gif) no-repeat 0 0;
	overflow: hidden;
	zoom: 1;
}

.unit-statistics .databox .wapper3 {
	background: url(../images/unit/bg-unitcon-titleBar.gif) no-repeat 0 -4px;
}

.unit-statistics .databox .warper-right {
	background: url(../images/unit/bg-unitcon-right.gif) no-repeat 0 0;
	height: 50px;
	width: 8px;
	position: absolute;
	right: 0;
	bottom: 18px
}
/*end*/
.unit-holography {
	float: left;
	height: 225px;
	left: 0;
	padding-bottom: 45px;
	position: relative;
	text-align: center;
	top: 0;
	width: 270px;
}

.model-viewer {
	height: 212px;
	left: 50%;
	margin-left: -106px;
	position: absolute;
	width: 212px;
}

.model-viewer .viewer {
	background-position: -636px 0;
	background-repeat: repeat-x;
	height: 212px;
	margin: 0 auto;
	width: 212px;
}

.model-viewer .can-drag {
	cursor: url("http://sc2.nos.netease.com/1/style/images/cursors/grab.cur"), e-resize !important;
	*cursor: e-resize;
}

.model-viewer .dragging {
	cursor: url("http://sc2.nos.netease.com/1/style/images/cursors/grab.cur"), e-resize !important;
	*cursor: e-resize;
}

.model-viewer .can-drag:hover,.model-viewer .dragging {
	background: url("../images/unit/frame.png") no-repeat 50% -5px;
}

.unit-statistics .tall-unit {
	height: 300px;
}

.tall-unit .model-viewer {
	height: 300px;
}

.tall-unit .model-viewer .viewer {
	height: 300px;
}

.tall-unit .model-viewer .can-drag:hover,.model-viewer .dragging {
	background-image: url("../images/unit/frame-tall.png");
}

.drag-ghost .viewer {
	background-position: 0 0;
}

.drag-thor .viewer {
	background-position: -500px 0;
	margin-left: -20px;
	width: 250px;
}

.drag-battlecruiser .viewer {
	background-position: -1060px 0;
}

.drag-colossus .viewer {
	height: 290px;
}

.drag-sentry .viewer {
	background-position: -1908px 0;
}

.drag-dark-templar .viewer {
	background-position: 0 0;
}

.drag-mothership .viewer {
	background-position: 0 0;
	margin-left: -10px;
	width: 230px;
}

.drag-ultralisk .viewer {
	background-position: -600px 0;
	margin-left: -50px;
	width: 300px;
}

.unit-statistics .databox .wapper3 {
	color: #57AFE7;
}

.unit-statistics .databox .wapper3 h4 {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	margin: 0 0 15px;
}

.unit-statistics .databox .wapper3 td {
	padding: 3px 0;
}

.unit-statistics .databox .wapper3 td.title {
	color: #4881a7;
	vertical-align: top;
}

.unit-statistics .databox .wapper3 td.content {
	color: #1a6d96;
}

.unit-statistics .databox .wapper3 td.content .tooltip-icon-small img {
	margin: 0 0 4px;
}

.unit-statistics .databox .wapper3 .basic-stats table,.unit-statistics .databox .wapper3 .basic-stats {
	width: 203px;
}

.unit-statistics .databox .wapper3 .production-stats table,.unit-statistics .databox .wapper3 .production-stats {
	width: 208px;
}

.unit-statistics .databox .wapper3 .combat-stats table,.unit-statistics .databox .wapper3 .combat-stats {
	width: 210px;
}

.unit-statistics .databox .wapper3 .combat-stats table {
	display: none
}

.unit-statistics .databox .wapper3 span.dot {
	border-bottom: 1px dotted #658FAD;
}

.unit-statistics .databox .wapper3 span.co {
	color: orange;
}

.unit-statistics .databox .wapper3 span img {
	width: 25px;
	height: 25px;
	border: 1px solid #046BB8;
	vertical-align: top;
}

.unit-statistics .databox .wapper3 td .tooltip {
	display: none;
}

.unit-statistics .databox .wapper3 .has-tooltip {
	border-bottom: 1px dotted #658FAD
}

.unit-statistics .databox .wapper3 .f-co {
	color: orange
}

.unit-statistics .tabs {
	height: 68px;
	margin-top: 20px;
	min-height: 68px;
}

.unit-statistics .tabs .title {
	color: #1A6D96;
	display: block;
	text-align: left;
	width: 150px;
	margin: 0 0 3px;
}

.unit-statistics .tabs ul li {
	background: url("../images/unit/icon-arrow-related.gif") no-repeat scroll 4px 52% transparent;
	padding-left: 20px;
	line-height: 20px;
}

.unit-statistics .tabs ul li a,.unit-statistics .tabs ul li a:hover {
	color: #fff;
}

.unit-statistics .tabs ul li.on a {
	color: #00D683;
}

.tooltip-title {
	border-bottom: 1px solid #A0D7E8;
	color: #0E2134;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.portrait-a {
	background: url(../images/portrait-frame.gif) no-repeat 0 -113px;
	display: block;
	width: 75px;
	height: 75px;
	padding: 3px 7px 4px 6px;
	float: left;
	margin: 3px 0 0;
}

.portrait-a .icon-frame {
	border-radius: 3px 3px 3px 3px;
}

.unit-datatooltip-content {
	float: left;
	padding: 0 0 0 10px;
}

.unit-datatooltip-content ul {
	margin: 6px 0 5px;
}

.unit-datatooltip-content ul li {
	color: #0A2C58;
	font: 11px/16px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.unit-datatooltip-content ul li strong {
	color: #177FA0;
}

.unit-statistics ul.battlefield-intro {
	float: left;
	width: 480px;
	padding: 30px 0 20px 40px;
	margin: 0 50px 0 0;
}
/*介绍列表*/
ul.intro-list {
	color: #bfbfbf;
	font-size: 14px;
	line-height: 2em;
}

ul.intro-list li {
	padding: 0 0 0 15px;
	background: url(../images/unit/icon_list.gif) no-repeat 0 11px;
}
/*end*/
.unit-statistics dl.against {
	float: right;
	margin: 20px 30px 0 0;
	display: inline;
	overflow: hidden;
	zoom: 1;
}

.unit-statistics dl.against dt {
	height: 59px;
	line-height: 59px;
	padding: 0 0 0 65px;
	color: #7cc5f3;
	font-size: 14px;
	font-weight: bold;
	clear: both;
	margin: 0 0 5px;
}

.unit-statistics dl.against dt.strong {
	background: url(../images/unit/icon-strongagainst.png) no-repeat 0 0;
}

.unit-statistics dl.against dt.weak {
	background: url(../images/unit/icon-weekagainst.png) no-repeat 0 0;
	margin-top: 10px;
}

.unit-statistics dl.against dd {
	float: left;
	text-align: center;
	margin: 0 20px 0 0;
	display: inline;
}

.unit-statistics dl.against dd.first {
	margin-left: 20px;
}
/*unit tab 框架*/
.unit-map-box {
	width: 939px;
	margin: 65px auto 0;
	padding: 0 0 0 1px;
	position: relative;
}

.unit-map-box a {
	color: #055499;
}

.unit-map-box .box-top {
	background: url(../images/unit/bg-unit-navigator-intop.gif) no-repeat 0 0;
	height: 182px;
	z-index: 15;
}

.unit-map-box .box-con {
	background: url(../images/unit/bg-unit-navigator-in.gif) repeat-y 0 0;
	padding: 0 0 20px;
}

.unit-map-box .box-con .box-con-content {
	margin: -182px 0 -78px;
	float: left;
	position: relative;
	zoom: 1;
	width: 100%;
}

.unit-map-box .box-btm {
	background: url(../images/unit/bg-unit-navigator-in-btm.gif) no-repeat 0 0;
	height: 78px;
}
/*end*/
/*unit tab*/
.unit-map-box ul.tab {
	position: absolute;
	top: -30px;
}

.unit-map-box ul.tab li {
	background: url(../images/unit/tab-unit-navigator.gif) no-repeat 0 0;
	height: 22px;
	padding: 8px 0 0 38px;
	width: 115px;
	display: block;
	float: left;
	color: #00b678;
	cursor: pointer;
	position: absolute;
}

.unit-map-box ul.tab li.tab-terran {
	left: 0;
}

.unit-map-box ul.tab li.tab-protoss {
	left: 115px;
}

.unit-map-box ul.tab li.tab-zerg {
	width: 127px;
	left: 230px;
}

.unit-map-box .units-protoss,.unit-map-box .units-zerg {
	display: none;
}

.unit-map-box ul.tab li.on {
	background: url(../images/unit/tab-unit-navigator-on.gif) no-repeat 0 0;
	width: 127px;
	height: 26px;
	z-index: 10;
	color: #fff;
}

.unit-map-box ul.tab li.over {
	background: url(../images/unit/tab-unit-navigator-over.gif) no-repeat 0 0;
	width: 127px;
	height: 22px;
	color: #fff;
	z-index: 5;
}
/*end*/
.unit-map-box .box-con .box-con-content ul.units-con {
	padding: 30px 25px 0 40px;
	display: none
}

.unit-map-box .box-con .box-con-content ul.units-con li {
	margin: 0 15px 10px 0;
	float: left;
	text-align: center;
}
/*单位*/
.unit-thumb span {
	color: #336EA5;
	display: block;
	width: 80px;
	background: url("../images/unit/unit-thumbs-table.gif") no-repeat 0 0;
	height: 72px;
	overflow: hidden;
	zoom: 1;
	margin-bottom: 5px;
}

.unit-thumb:hover {
	zoom: 1;
}

.unit-thumb .probe {
	background-position: 0 -25px;
}

.unit-thumb:hover .probe {
	background-position: -400px -25px;
}

.unit-thumb .zealot {
	background-position: -80px -25px;
}

.unit-thumb:hover .zealot {
	background-position: -480px -25px;
}

.unit-thumb .stalker {
	background-position: -160px -25px;
}

.unit-thumb:hover .stalker {
	background-position: -560px -25px;
}

.unit-thumb .sentry {
	background-position: -240px -25px;
}

.unit-thumb:hover .sentry {
	background-position: -640px -25px;
}

.unit-thumb .observer {
	background-position: -320px -25px;
}

.unit-thumb:hover .observer {
	background-position: -720px -25px;
}

.unit-thumb .immortal {
	background-position: 0 -111px;
}

.unit-thumb:hover .immortal {
	background-position: -400px -111px;
}

.unit-thumb .warp-prism {
	background-position: -80px -111px;
}

.unit-thumb:hover .warp-prism {
	background-position: -480px -111px;
}

.unit-thumb .colossus {
	background-position: -160px -111px;
}

.unit-thumb:hover .colossus {
	background-position: -560px -111px;
}

.unit-thumb .phoenix {
	background-position: -240px -111px;
}

.unit-thumb:hover .phoenix {
	background-position: -640px -111px;
}

.unit-thumb .void-ray {
	background-position: -320px -111px;
}

.unit-thumb:hover .void-ray {
	background-position: -720px -111px;
}

.unit-thumb .high-templar {
	background-position: 0 -197px;
}

.unit-thumb:hover .high-templar {
	background-position: -400px -197px;
}

.unit-thumb .dark-templar {
	background-position: -80px -197px;
}

.unit-thumb:hover .dark-templar {
	background-position: -480px -197px;
}

.unit-thumb .archon {
	background-position: -160px -197px;
}

.unit-thumb:hover .archon {
	background-position: -560px -197px;
}

.unit-thumb .carrier {
	background-position: -240px -197px;
}

.unit-thumb:hover .carrier {
	background-position: -640px -197px;
}

.unit-thumb .mothership {
	background-position: -320px -197px;
}

.unit-thumb:hover .mothership {
	background-position: -720px -197px;
}

.unit-thumb .scv {
	background-position: 0 -313px;
}

.unit-thumb:hover .scv {
	background-position: -400px -313px;
}

.unit-thumb .marine {
	background-position: -80px -313px;
}

.unit-thumb:hover .marine {
	background-position: -480px -313px;
}

.unit-thumb .marauder {
	background-position: -160px -313px;
}

.unit-thumb:hover .marauder {
	background-position: -560px -313px;
}

.unit-thumb .reaper {
	background-position: -240px -313px;
}

.unit-thumb:hover .reaper {
	background-position: -640px -313px;
}

.unit-thumb .ghost {
	background-position: -320px -313px;
}

.unit-thumb:hover .ghost {
	background-position: -720px -313px;
}

.unit-thumb .hellion {
	background-position: 0 -399px;
}

.unit-thumb:hover .hellion {
	background-position: -400px -399px;
}

.unit-thumb .siege-tank {
	background-position: -80px -399px;
}

.unit-thumb:hover .siege-tank {
	background-position: -480px -399px;
}

.unit-thumb .thor {
	background-position: -160px -399px;
}

.unit-thumb:hover .thor {
	background-position: -560px -399px;
}

.unit-thumb .viking {
	background-position: -240px -399px;
}

.unit-thumb:hover .viking {
	background-position: -640px -399px;
}

.unit-thumb .medivac {
	background-position: -320px -399px;
}

.unit-thumb:hover .medivac {
	background-position: -720px -399px;
}

.unit-thumb .raven {
	background-position: 0 -485px;
}

.unit-thumb:hover .raven {
	background-position: -400px -485px;
}

.unit-thumb .banshee {
	background-position: -80px -485px;
}

.unit-thumb:hover .banshee {
	background-position: -480px -485px;
}

.unit-thumb .battlecruiser {
	background-position: -160px -485px;
}

.unit-thumb:hover .battlecruiser {
	background-position: -560px -485px;
}

.unit-thumb .larva {
	background-position: 0 -601px;
}

.unit-thumb:hover .larva {
	background-position: -400px -601px;
}

.unit-thumb .drone {
	background-position: -80px -601px;
}

.unit-thumb:hover .drone {
	background-position: -480px -601px;
}

.unit-thumb .overlord {
	background-position: -160px -601px;
}

.unit-thumb:hover .overlord {
	background-position: -560px -601px;
}

.unit-thumb .zergling {
	background-position: -240px -601px;
}

.unit-thumb:hover .zergling {
	background-position: -640px -601px;
}

.unit-thumb .queen {
	background-position: -320px -601px;
}

.unit-thumb:hover .queen {
	background-position: -720px -601px;
}

.unit-thumb .hydralisk {
	background-position: 0 -687px;
}

.unit-thumb:hover .hydralisk {
	background-position: -400px -687px;
}

.unit-thumb .baneling {
	background-position: -80px -687px;
}

.unit-thumb:hover .baneling {
	background-position: -480px -687px;
}

.unit-thumb .overseer {
	background-position: -160px -687px;
}

.unit-thumb .roach {
	background-position: -240px -687px;
}

.unit-thumb:hover .roach {
	background-position: -640px -687px;
}

.unit-thumb .infestor {
	background-position: -320px -687px;
}

.unit-thumb:hover .infestor {
	background-position: -720px -687px;
}

.unit-thumb .mutalisk {
	background-position: 0 -773px;
}

.unit-thumb:hover .mutalisk {
	background-position: -400px -773px;
}

.unit-thumb .corruptor {
	background-position: -80px -773px;
}

.unit-thumb:hover .corruptor {
	background-position: -480px -773px;
}

.unit-thumb .nydus-worm {
	background-position: -160px -773px;
}

.unit-thumb:hover .nydus-worm {
	background-position: -560px -773px;
}

.unit-thumb .ultralisk {
	background-position: -240px -773px;
}

.unit-thumb:hover .ultralisk {
	background-position: -640px -773px;
}

.unit-thumb .brood-lord {
	background-position: -320px -773px;
}

.unit-thumb:hover .brood-lord {
	background-position: -720px -773px;
}

.unit-thumb .hellbat {
	background-position: -80px -976px;
}

.unit-thumb:hover .hellbat {
	background-position: -480px -976px;
}

.unit-thumb .widow-mine {
	background-position: 0 -976px;
}

.unit-thumb:hover .widow-mine {
	background-position: -400px -976px;
}

.unit-thumb .mothership-core {
	background-position: -80px -887px;
}

.unit-thumb:hover .mothership-core {
	background-position: -480px -887px;
}

.unit-thumb .oracle {
	background-position: 0 -887px;
}

.unit-thumb:hover .oracle {
	background-position: -400px -887px;
}

.unit-thumb .tempest {
	background-position: -160px -887px;
}

.unit-thumb:hover .tempest {
	background-position: -560px -887px;
}

.unit-thumb .swarm-host {
	background-position: -80px -1058px;
}

.unit-thumb:hover .swarm-host {
	background-position: -480px -1058px;
}

.unit-thumb .viper {
	background-position: -5px -1063px;
}

.unit-thumb:hover .viper {
	background-position: -405px -1063px;
}
/*end*/
/* 对抗策略*/
.against-strategy-intro {
	width: 430px;
}

.against-strategy-intro .title-race {
	clear: both;
	color: #47A2FF;
	font: 24px/89px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height: 90px;
	margin: 30px 0 0 29px;
}

.against-strategy-intro .unit-thumb {
	float: left;
	margin: 5px 10px 0;
	display: block;
}

ul.strategy-intro {
	padding: 0 0 20px 30px;
}

.strategy-map {
	margin: 72px 58px 0 0;
	display: inline;
	position: relative;
}

.strategy-map a.screen p {
	background: url(../images/unit/map-frame.gif) no-repeat 0 0;
	height: 182px;
	left: 0;
	position: absolute;
	top: 0;
	width: 394px;
}

.strategy-map a.screen span {
	background: url(../images/unit/zoom.png) no-repeat 0 -5px;
	height: 42px;
	position: absolute;
	right: -14px;
	top: -14px;
	width: 55px;
	z-index: 2;
}

.strategy-map a:hover {
	
}

.strategy-map a:hover span {
	background-position: 0 -55px;
}
/*弹框*/
.ui-tooltip strong {
	color: #177FA0;
}

.ui-tooltip {
	position: absolute;
	z-index: 100;
}

.ui-tooltip .top-left,.ui-tooltip .top-right,.ui-tooltip .bottom-left,.ui-tooltip .bottom-right {
	background: url("../images/unit/tooltip-corners.png") no-repeat 0 0;
	height: 15px;
	width: 15px;
}

.ui-tooltip table td {
	vertical-align: top;
}

.ui-tooltip .top-center,.ui-tooltip .bottom-center {
	background: url("../images/unit/tooltip-sides-tb.png") repeat-x scroll 0 0 transparent;
	height: 15px;
	width: auto;
}

.ui-tooltip .top-right {
	background-position: -25px 0;
}

.ui-tooltip .middle-left,.ui-tooltip .middle-right {
	background: url("../images/unit/tooltip-sides-lr.png") repeat-y scroll 0 0 transparent;
	height: auto;
	width: 15px;
}

.ui-tooltip .middle-center {
	background: #B1EDFF;
	color: #0A2C58;
	text-align: left;
}

.ui-tooltip .middle-right {
	background-position: -25px 0;
}

.ui-tooltip .bottom-left {
	background-position: 0 -25px;
}

.ui-tooltip .bottom-center {
	background-position: 0 -25px;
}

.ui-tooltip .bottom-right {
	background-position: -25px -25px;
}

.clear {
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
}

.race {
	display: none;
}

.searchright .searchbg {
	right: auto;
	position: relative;
}

.searchbtn {
	position: absolute;
	left: 176px;
	top: -2px;
	width: 23px;
	height: 21px;
	cursor: pointer;
}

/*按钮*/
.guide-switch {
	position: relative;
}

.guide-switch .button {
	background: url("../images/unit/bg-unit-tab.png") no-repeat scroll 0 0 transparent;
	display: block;
	float: left;
	height: 35px;
	padding-right: 75px;
}

.guide-switch #hots {
	background-position: right -129px;
}

.guide-switch #hots.active {
	background-position: right -89px !important;
}

.guide-switch #wol.active {
	background-position: right -5px !important;
}

.guide-switch #hots.active span,.guide-switch #wol.active span {
	color: #FFFFFF;
}

.guide-switch .button span {
	display: inline-block;
	height: 35px;
	line-height: 35px;
	padding-left: 30px;
	text-transform: uppercase;
}

.guide-switch #wol {
	background-position: right -45px;
}

.clear {
	clear: both;
	display: block;
	margin: 0;
	padding: 0;
}

.guide-switch .bottom-border {
	background: url("../images/unit/bg-unit-border.png") repeat scroll 0 0 transparent;
	border-top: 1px solid #002555;
	height: 56px;
	width: 1000px;
}

.unit-statistics .wapper2 .stat-data-wol {
	display: none;
}

.unit-statistics .wapper2 .stat-data-hots {
	display: block;
}

/*标本分析报告*/
.unit-science .science-content {
    background: url("../images/unit/bg-unit-science-whole2.jpg") no-repeat 0 -4px;
    height: 448px;
    overflow: hidden;
    position: relative;
    width: 940px;
}
.unit-science .text-panel {
    height: 397px;
    margin-left: 21px;
    margin-top: 35px;
    overflow: auto;
    width: 433px;
}
.unit-science .unit-image {
    height: 420px;
    position: absolute;
    right: 0;
    top: 0;
    width: 485px;
    margin-top: 28px;
}
.unit-science .navigation-area {

    height: 64px;
    margin-top: 30px;
    width: 433px;
}
.unit-science .left-arrow, .unit-science .right-arrow, .unit-science .reticle-focus-triangle, .unit-science .triangle-animation-expand, .unit-science .triangle-animation-contract, .unit-science .readout-animation-expand, .unit-science .readout-animation-contract, .unit-science .reticle-readout-focus, .unit-science .hazardous-text, .unit-science .hazardous-glow 
{
    background-image: url("../images/unit/unit-science-sprites.png");
}
.unit-science .left-arrow, .unit-science .right-arrow {
    float: left;
    height: 64px;
    width: 36px;
}
.unit-science .valid-action {
    cursor: pointer;
}
.unit-science .left-arrow {
    background-position: 165px 274px;
}
.unit-science .right-arrow {
    background-position: 128px 274px;
}
.unit-science .navigation-text {
    float: left;
    height: 64px;
    width: 361px;
}
.unit-science .science-title {
    color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    margin-top: 16px;
    text-align: center;
}
.unit-science .entry-info {
    color: #00d683;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
}
.unit-science .not-displayed {
    display: none;
}
.unit-science .text-area {
    color: #6ea6ca;
    font-size: 12px;
    height: 258px;
    line-height: 24px;
    margin-left: 28px;
    margin-top: 20px;
    overflow: hidden;
    width: 387px;
}
.unit-science .text-area a{
	color: #00d683;
}
.unit-science .reticle {
    left: 0;
    position: absolute;
    top: 0;
}
.reticle-components {
    position: relative;
}
.unit-science .reticle-triangle {
    background-repeat: no-repeat;
    height: 67px;
    width: 72px;
    z-index: 1;
}
.unit-science .reticle-focus-triangle {
    background-position: -219px -65px;
}
.unit-science .reticle-triangle {
    background-repeat: no-repeat;
    height: 67px;
    width: 72px;
    z-index: 1;
}
.unit-science .readout-stats {
    background-image: url("../images/unit/unit-science-stat-bars.gif");
    background-repeat: no-repeat;
    height: 10px;
    left: 23px;
    position: absolute;
    top: 53px;
    width: 8px;
}
.unit-science .reticle-readout {
    background-repeat: no-repeat;
    height: 63px;
    left: -4px;
    position: absolute;
    top: 26px;
    width: 133px;
}
.unit-science .reticle-readout-focus {
    background-position: -405px 0;
}
.unit-science .hazardous-glow, .unit-science .hazardous-text {
    background-repeat: no-repeat;
    bottom: 10px;
    height: 23px;
    position: absolute;
    right: 10px;
    width: 75px;
}

.unit-science.zerg .hazardous-glow {
    background-position: -292px -90px;
}
.unit-science .hazardous-text {
    background-position: -292px -117px;
    opacity: 0.8;
}
.unit-science.zerg .hazardous-text {
    background-position: -292px -65px;
}
.unit-science .databox{
	padding: 0;
}

.unit-science .left-arrow.valid-action:hover {
	background-position: 79px 274px;
}

.unit-science .right-arrow.valid-action:hover {
	background-position: 42px 274px;
}

.unit-science .hazardous-glow {	
	background-position: -292px -142px;
	opacity: 0.3;
	-webkit-animation: hazardous-glow-pulse ease 2s infinite; /* Safari 4+ */
	animation:         hazardous-glow-pulse ease 2s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes hazardous-glow-pulse {
  0%, 100%   { opacity: 0.3; }
  50% { opacity: 0.5; }
}

@keyframes hazardous-glow-pulse {
  0%, 100%   { opacity: 0.3; }
  50% { opacity: 0.5; }
}

.unit-science .triangle-animation-expand {
	-webkit-animation:	triangle-expand 0.1s steps(1) 0s 1 normal both;
	animation:			triangle-expand 0.1s steps(1) 0s 1 normal both;
}

@-webkit-keyframes triangle-expand {
	0% { background-position: -219px -65px; }
	33% { background-position: -73px -65px; }
	66% { background-position: -146px -65px; }
	100% { background-position: -146px -65px; }
}

@keyframes triangle-expand {
	0% { background-position: -219px -65px; }
	33% { background-position: -73px -65px; }
	66% { background-position: -146px -65px; }
	100% { background-position: -146px -65px; }
}

.unit-science .triangle-animation-contract {
	-webkit-animation:	triangle-contract 0.1s steps(1) 0s 1 normal both;
	animation:			triangle-contract 0.1s steps(1) 0s 1 normal both;
}

@-webkit-keyframes triangle-contract {
	0% { background-position: 0 -65px; }
	33% { background-position: 0 -65px; }
	66% { background-position: -73px -65px; }
	100% { background-position: -219px -65px; }
}

@keyframes triangle-contract {
	0% { background-position: 0 -65px; }
	33% { background-position: 0 -65px; }
	66% { background-position: -73px -65px; }
	100% { background-position: -219px -65px; }
}

.unit-science .readout-animation-expand {
	-webkit-animation:	readout-expand 0.1s steps(1) 0s 1 normal both;
	animation:			readout-expand 0.1s steps(1) 0s 1 normal both;
}

.unit-science .readout-animation-contract {
	-webkit-animation:	readout-expand 0.1s steps(1) 0s 1 reverse both;	
	animation:			readout-expand 0.1s steps(1) 0s 1 reverse both;
}

@-webkit-keyframes readout-expand {
	0% { background-position: 0 0; }
	33% { background-position: -135px 0; }
	66% { background-position: -270px 0; }
	100% { background-position: -405px 0; }
}

@keyframes readout-expand {
	0% { background-position: 0 0; }
	33% { background-position: -135px 0; }
	66% { background-position: -270px 0; }
	100% { background-position: -405px 0; }
}
