link(href='/css/reset.css',rel="stylesheet",type="text/css")
link(href='/css/common.css',rel="stylesheet",type="text/css")
link(href='/css/animate.css',rel="stylesheet",type="text/css")
link(href='/css/main.css',rel="stylesheet",type="text/css")
