
/* CSS 基础样式-- */

body {
	font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif;
	color:#333;
	font-size:75%;
	/*line-height:20px;*/
	height:100%;
}
input,select{
	font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif;
}
a {
	text-decoration:none;
	outline:none;
}
a:link {
	color:#006ba6;
}
a:visited {
	color:#006ba6;
}
a:hover {
	color:#f29600;
	text-decoration:none;
}
a:active {
	color:#f29600;
}

/*-----clearFix清除浮动样式 start-----*/
.clearFix:after{
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
}
.clearFix{ display: inline-block; }
/* Hides from IE 4-6 \*/
* html .clearFix{ height: 1%; }
.clearFix{ display: block; } 
/* End hide from IE 4-6 */
/*-----clearFix清除浮动样式 end-----*/

/*font 文字相关样式 start*/
.font_blue{
color:#0083DE;
}
.font_red{
color:#CC0000;
}
input.font_gray{
color:#ccc;
}
.font_white{
color:#fff;	
}
.font_bold{
font-weight:bold;
}
.font_bold14{
font-size:14px;
font-weight:bold;
}
.font_bold24{
font-size:24px;
font-weight:bold;
}
.font_size12{
font-size:12px;
}
.font_size14{
font-size:14px;
}
/*font 文字相关样式 end*/

/*table 表格相关样式 start*/
.alignCenter{
text-align:center;
}
.alignLeft{
text-align:left;
}
.alignRight{
text-align:right;
}
.noBorder{
border:none;
}

/*pad mag width相关*/
.padBom10{
padding-bottom:10px;
}
.padTop10{
padding-top:10px;
}
.marBom10{
margin-bottom:10px;
}
h3.demoTitle{
width:150px;
font-size:14px;
font-weight:bold;
border-color:#E8E8E8 #E8E8E8 #E8E8E8 #95B3D7;
border-style:solid;
border-width:1px 1px 1px 2px;
margin:10px 0 5px;
padding:2px;
}
/*float*/
.floatL{
float:left;
}
.floatR{
float:right;
}
